.site-wraper {
    min-height: 100vh;
    display: flex;
}

/*************** Sidebar *********************/

.sidebar {
    transition: all 0.2s, background 0s;
    position: relative;
    background: #f4f4f566;
    border-right: 1px solid #e4e4e7;
}

.sider {
    position: fixed;
    width: 300px;
    transition: all 0.2s, background 0s;
    height: 100%;
    overflow-y: auto;
    z-index: 99;
}

.sidebar_logo {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar_logo .site_logo {
    width: 70%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar_logo img {
    width: 100%;
}

.sidebar_logo h1 {
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 30px;
    font-family: var(--family);
    font-weight: 700;
}

.toggle_sidebar {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.toggle_sidebar .toggle_icon {
    height: 40px;
    width: 40px;
    background-color: #f4f4f5;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.toggle_sidebar .toggle_icon svg {
    color: #000;
    font-size: 22px;
}

.sidebar_menu {
    padding: 0 20px;
    margin-top: 15px;
}

.sidebar_menu li {
    list-style: none;
    position: relative;
}

.sidebar_menu li a {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding: 12px 10px;
    border-radius: 12px;
    text-decoration: none;
    position: relative;
}

.sidebar_menu li a.active {
    background: #f4f4f5;
}

.sidebar_menu li a.active span{
    color: var(--primary-color);
}

.sidebar_menu li a.active svg{
    color: var(--primary-color);
}

.sidebar_menu li a svg {
    font-size: 16px;
    margin-right: 15px;
    color: #71717a;
    transition: 0.5s all;
}

.sidebar_menu li a span {
    font-family: var(--family);
    font-weight: 400;
    font-size: 14px;
    color: #71717a;
    transform: scale(1);
    transition: 0.5s all;
}

.side_profile {
    position: fixed;
    bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 20px;
    width: inherit;
    z-index: 99;
}

.side_profile .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    object-fit: cover;
}

.side_profile .content .name {
    font-family: var(--family);
    font-weight: 400;
    font-size: 14px;
    color: #000000;
    text-transform: capitalize;
}

.side_profile .logout {
    font-family: var(--family);
    font-weight: 400;
    font-size: 12px;
    color: #71717a;
    cursor: pointer;
}

.site_main {
    width: calc(100% - 300px);
    display: flex;
    flex-direction: column;
}

.tooltip {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateX(10px) translateY(-50%);
    padding: 5px 15px;
    background-color: #333;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    white-space: nowrap;
    transition: 0.5s all;
    font-family: var(--family);
    font-weight: 400;
}

.tooltip.visible {
    opacity: 1;
    visibility: visible;
    transition: 0.5s all;
  }
  
  .tooltip::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -5px;
    transform: translateY(-50%);
    border: 5px solid transparent;
    border-right-color: #333;
  }

/*************** Sidebar Toggle *********************/

.sidebar.expanded {
    flex: 0 0 300px;
    max-width: 300px;
    min-width: 300px;
    width: 300px;
    transition: all 0.2s, background 0s;
}

.sidebar.collapsed {
    flex: 0 0 80px;
    max-width: 80px;
    min-width: 80px;
    width: 80px;
    transition: all 0.2s, background 0s;
}

.sidebar.collapsed .sider {
    width: 80px;
    overflow-y: unset;
    transition: all 0.2s, background 0s;
}

.site_main.active {
    width: calc(100% - 80px);
}

.sidebar.collapsed .sidebar_logo {
    padding: 20px 10px;
}

.sidebar.collapsed h1 {
    display: none;
}

.sidebar.collapsed .sidebar_menu {
    padding: 0 10px;
}

.sidebar.collapsed .sidebar_menu li a {
    display: block;
    padding: 10px 10px;
    text-align: center;
}

.sidebar.collapsed .sidebar_menu li a span {
    transform: scale(0);
    transition: 0.5s all;
    display: none;
}

.sidebar.collapsed .sidebar_menu li a svg {
    margin: 0;
    font-size: 20px;
    transition: 0.5s all;
}

.sidebar.collapsed .side_profile {
    padding: 0 10px;
    justify-content: center;
}

.sidebar.collapsed .content {
    display: none;
}

.sidebar.expanded img.fav {
    display: none;
}

.sidebar.collapsed img.logo {
    display: none;
}

.sidebar.collapsed .site_logo {
    width: 100%;
}

/*************** Header *********************/

.main_header {
    padding: 15px;
    border-bottom: 1px solid #e4e4e7;
    background: #f4f4f566;
    display: flex;
    align-items: center;
}

.header_left {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.header_left .toggle_icon {
    height: 40px;
    width: 40px;
    background-color: #f4f4f5;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header_left .toggle_icon svg {
    color: #000;
    font-size: 22px;
}

.header_left h4 {
    font-family: var(--family);
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    color: #000;
}

.header_left h4 span {
    background: var(--primary-color);
    color: #fff;
    border-radius: 5px;
    padding: 1px 10px;
    font-size: 14px;
    margin-left: 5px;
}

.header_left h4 img {
    height: 30px;
    margin-left: 5px;
}

.header_left p {
    font-family: var(--family);
    font-weight: 400;
    font-size: 12px;
    color: rgba(82, 82, 108, 0.8);
}

.header-right {
    width: 50%;
}

.profile_cover {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 20px;
    position: relative;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    cursor: pointer;
}

.user-info .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    object-fit: cover;
}

.user-text .name {
    font-family: var(--family);
    font-weight: 500;
    font-size: 14px;
    text-transform: capitalize;
    color: #000;
}

.user-text .email {
    font-family: var(--family);
    font-weight: 500;
    font-size: 12px;
    text-transform: capitalize;
    color: #71717a;
}

.user-info svg.lucide {
    color: #71717a;
    width: 15px;
}

.profile_cover .dropdown {
    position: absolute;
    right: 20px;
    top: 100%;
    margin-top: 17px;
    background-color: #fff;
    border: 1px solid #eee;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
    border-radius: 3px;
    overflow: hidden;
    z-index: 1000;
    width: 230px;
}

.dropdown-item {
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.2s;
    font-family: var(--family);
    font-weight: 500;
    font-size: 12px;
    text-transform: capitalize;
    color: #000;
    display: flex;
    align-items: center;
}
  
.dropdown-item:hover {
    background-color: #f3f3f3;
}

.dropdown-item:nth-child(1) {
    border-bottom: 1px solid #e4e4e7;
}

.dropdown-item:last-child {
    border-top: 1px solid #e4e4e7;
}

.dropdown-item svg {
    font-size: 18px;
    margin-right: 10px;
}



/*************** Main Body *********************/  

.main_body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

/*************** Footer ***************/

footer {
    padding: 15px;
    background: #fff;
    border-top: 1px solid #e4e4e7;
}

footer p {
    text-align: center;
    color: #000;
    font-size: 16px;
    font-family: var(--family);
    font-weight: 400;
}



/************** Media Queries ****************/
@media (max-width: 1366px) {
    .sidebar_menu li a {
        padding: 8px 10px;
    }

    .sidebar_menu li a span {
        font-size: 12px;
    }
}