/*************** Table  *********************/ 

.card {
    overflow-x: auto;
}

.card_header .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.card_header .top .left {
    width: 50%;
}

.card_header .top .left h2 {
    font-family: var(--family);
    font-weight: 500;
    font-size: 25px;
    text-transform: capitalize;
    color: #000;
}

.card_header .top .right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

.card_header .top .right .btn_cover {
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--primary-color);
    box-shadow: 0px 2px 4px rgba(165, 163, 174, 0.4);
    padding: 10px 20px;
    border-radius: 2px;
    cursor: pointer;
    font-family: var(--family);
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    color: #fff;
}

.card_header .top .right .btn_reload {
    padding: 10px 15px;
    border-radius: 2px;
    cursor: pointer;
    border: 1px solid #e5e7eb;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.card_header .top .right .rotate {
    animation: spin 0.7s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.card_header .top .right .btn_cover svg {
    color: #fff;
    margin-right: 5px;
}

.card_header .bottom {
    margin-bottom: 15px;
}

.card_header .bottom .left {
    width: 50%;
    position: relative;
}

.card_header .bottom .left svg {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #cdcdcd;
    font-size: 22px;
}

.card_header .bottom .left input[type="text"] {
    width: 100%;
    padding: 10px 15px 10px 40px;
    border-radius: 2px;
    border: 1px solid #e5e7eb;
    display: flex;
    font-family: var(--family);
    font-weight: 400;
    font-size: 14px;
    color: #000;
    text-transform: capitalize;
    outline: none;
}

.card_body {
    border: 1px solid #e5e7eb;
    overflow-x: auto;
}

.card_body table {
    width: 100%;
    border-collapse: collapse;
}
.card_body table thead {
    border-bottom: 1px solid #e5e7eb;
}


.card_body table thead th {
    font-family: var(--family);
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    color: #000;
    padding: 10px 10px;
    text-align: left;
    min-width: 100px;
}

.card_body table tbody td {
    font-family: var(--family);
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    color: #000;
    padding: 10px 10px;
    text-align: left;
    min-width: 100px;
}

.card_body table tbody td img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.card_body table tbody tr {
    border-bottom: 1px solid #e5e7eb;
}

.action_wrap {
    display: flex;
    gap: 10px;
}

.table_action {
    background: transparent;
    outline: none;
    padding: 8px 8px;
    border-radius: 1px;
    cursor: pointer;
    border: 1px solid #e4e4e7;
    display: flex;
}

.table_action svg {
    color: #000;
    font-size: 16px;
}

.action_wrap .table_action.delete svg {
    color: var(--primary-color);
}


/*************** Pagination *********************/ 

.pagination_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
}

.pagination_wrap p {
    font-family: var(--family);
    font-weight: 300;
    font-size: 14px;
    text-transform: capitalize;
    color: #000;
}

.pagination_wrap .pages {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.pagination_wrap .pagination-arrow {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.pagination_wrap button {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #e5e7eb;
    cursor: pointer;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

.pagination_wrap button svg {
    color: #fff;
}

.pagination_wrap button[disabled] {
    background: var(--primary-color);
    opacity: 0.5;
    cursor: not-allowed;
}

.pagination_wrap button.active {
    background: var(--primary-color);
    color: #fff;
    border: 1px solid var(--primary-color);
}

.main_title {
    font-family: var(--family);
    font-weight: 500;
    font-size: 25px;
    text-transform: capitalize;
    color: #000;
}

/*************** Form *********************/ 

.inner_form {
    margin-top: 15px;
}

.custom_upload {
    background: rgba(0, 0, 0, 0.02);
    width: 120px;
    height: 120px;
    border: 1px dashed #d9d9d9;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
}

.upload_cover {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.custom_upload input[type="file"] {
    display: none;
}

.upload_btn {
    border: 0;
    background: transparent;
}

.upload_btn .icon {
    display: block;
    color: #5d596c;
    font-family: var(--family);
    font-weight: 400;
    font-size: 25px;
}

.upload_btn .txt {
    font-family: var(--family);
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    color: #000;
}

.upload_loading {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 0;
    padding: 10px;
}

.upload_loading .loading_title {
    font-family: var(--family);
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    color: #000;
    display: block;
    margin-bottom: 5px;
}

.upload_loading .loading_bar {
    width: 100%;
    height: 1px;
    position: relative;
    background: #ebebeb;
}
  
.upload_loading .loading_bar .progress {
    height: 100%;
    display: block;
    background: var(--primary-color);
}

.upload_reset {
    width: 98px;
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00000080;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    transition: 0.5s all;
    opacity: 0;
}

.upload_reset button {
    background: transparent;
    border: 0;
    cursor: pointer;
}

.upload_reset button svg {
    color: #fff;
    font-family: var(--family);
    font-size: 25px;
}

.upload_loading img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.custom_upload:hover .upload_reset {
    transition: 0.5s all;
    opacity: 1;
}

.middle_form_group {
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.middle_form_group .form_group {
    display: flex;
    flex-direction: column;
}

.middle_form_group .form_group label {
    color: #000;
    font-family: var(--family);
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
}

.middle_form_group .form_group .form_control {
    width: 100%;
    border: 1px solid #dbdade;
    color: #6f6b7d;
    border-radius: 1px;
    padding: 12px 15px;
    outline: none;
    font-family: var(--family);
    font-weight: 400;
    font-size: 14px;
}

form .error {
    font-family: var(--family);
    font-weight: 400;
    font-size: 12px;
    text-transform: capitalize;
    color: red;
}

.form_btn_cover {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

.form_btn_cover button {
    background-color: var(--primary-color);
    box-shadow: 0px 2px 4px rgba(165, 163, 174, 0.4);
    padding: 10px 20px;
    border-radius: 2px;
    border: 0;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-family: var(--family);
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
}

.form_btn_cover .cancel{
    background: transparent;
    color: #000;
}

.form_btn_cover button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}


/*************** Skeleton *********************/ 

.skeleton-loader {
    height: 50px;
    width: 100%;
    background-color: #e2e2e2;
    border-radius: 4px;
    animation: pulse 1.5s infinite;
  }
  
  @keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }
  

  /************** Modal ************/

  .modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1000;
}

.modal_content {
    background: white;
    width: 100%;
    max-width: 600px;
    position: relative;
    border-radius: 10px;
}

.modal_header {
    position: relative;
}

.modal_header button {
    position: absolute;
    top: -10px;
    right: -10px;
    background: var(--primary-color);
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_header button svg {
    color: #fff;
}

.modal_body h2 {
    font-family: var(--family);
    font-weight: 500;
    font-size: 25px;
    text-transform: capitalize;
    color: #000;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.modal_body {
    padding: 20px;
}

.modal_body h2 svg {
    color: var(--primary-color);
}

.modal_body p {
    margin-bottom: 20px;
    font-family: var(--family);
    font-weight: 400;
    font-size: 14px;
    color: rgba(82, 82, 108, 0.8);
}

.modal_body p strong {
    color: #000;
}

.modal_body form {
    margin-top: 15px;
}

.modal_body form .form_group {
    margin-bottom: 15px;
}

.modal_body .form_group label {
    color: #000;
    font-family: var(--family);
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    display: block;
    margin-bottom: 10px;
}

.modal_body .form_group .form_control {
    width: 100%;
    border: 1px solid #dbdade;
    color: #6f6b7d;
    border-radius: 1px;
    padding: 12px 15px;
    outline: none;
    font-family: var(--family);
    font-weight: 400;
    font-size: 14px;
}

 /************** PDF Upload ************/

.pdf_upload {
    display: inline-block;
}

.pdf_upload .upload_cover{
    background: transparent;
    width: 400px;
    height: 200px;
    border: 2px dashed var(--primary-color);
    border-radius: 8px;
    cursor: pointer;
}

.pdf_upload .upload_cover input[type="file"] {
    display: none;
}

.pdf_upload .upload_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.pdf_upload .upload_btn .icon  {
    width: 100px;
    height: 100px;
    background: var(--primary-color);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pdf_upload .upload_btn .icon svg {
    color: #fff;
    font-size: 40px;
}

.pdf_file_loading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    background: #f4f4f5;
    padding: 10px 10px;
    border-radius: 5px;
    width: 500px;
}

.pdf_file_loading .pdf_icon svg {
    font-size: 20px;
    color: var(--primary-color);
}

.pdf_file_loading p {
    color: #000;
    font-family: var(--family);
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
}

.pdf_file_loading button {
    border: 0;
    background: transparent;
    cursor: pointer;
    outline: none;
}

.pdf_file_loading button svg {
    font-size: 20px;
    color: var(--primary-color);
}

.pdf_progress_cover {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.pdf_progress_title {
    font-family: var(--family);
    font-weight: 400;
    font-size: 16px;
    text-transform: capitalize;
    color: #000;
    display: block;
    margin-bottom: 5px;
}

.pdf_loading_bar {
    width: 100%;
    height: 1px;
    position: relative;
    background: #ebebeb;
}

.pdf_progress {
    height: 100%;
    display: block;
    background: var(--primary-color);
}


/************** Product Tracking ****************/

.product_tracking_header h2 {
    font-family: var(--family);
    font-weight: 500;
    font-size: 25px;
    text-transform: capitalize;
    color: #000;
}

.product_tracking_header p {
    font-family: var(--family);
    font-weight: 400;
    font-size: 12px;
    color: rgba(82, 82, 108, 0.8);
}

.product_tracking_form {
    margin: 20px 0;
}

.product_tracking_form form {
    display: flex;
    align-items: center;
}

.product_tracking_form .form_group {
    width: 50%;
}

.product_tracking_form .form_btn_cover {
    width: 50%;
}

.product_tracking_form .form_group label {
    color: #000;
    font-family: var(--family);
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
}

.product_tracking_table table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #dbdade;
}

.product_tracking_table table thead {
    background-color: #f4f4f580;
}

.product_tracking_table table thead th {
    font-family: var(--family);
    font-weight: 400;
    font-size: 14px;
    color: rgba(82, 82, 108, 0.8);
    padding: 10px 10px;
    text-align: left;
    min-width: 100px;
    text-transform: capitalize;
}

.product_tracking_summary {
    margin-top: 20px;
}

.product_tracking_summary h2 {
    font-family: var(--family);
    font-weight: 500;
    font-size: 25px;
    text-transform: capitalize;
    color: #000;
}

.product_tracking_summary .summary_wrap {
    border: 1px solid #000;
    width: 30%;
}

.product_tracking_summary .summary_wrap .summary_item {
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.product_tracking_summary .summary_wrap .summary_item:last-child {
    border: 0;
}

.product_tracking_summary .summary_wrap .summary_item span {
    font-family: var(--family);
    font-weight: 700;
    font-size: 14px;
    text-transform: capitalize;
}

.product_tracking_summary .summary_wrap .summary_item p {
    font-family: var(--family);
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
}